@import "../../../style/variables.scss";
.root {
  margin-top: 30px;
  display: grid;
  justify-items: center;
  margin-right: 30px;
  grid-template-rows: 55% auto auto;
  width: 300px;
  height: 50%;
  min-height: 411px;
  background-color: #ffffff;
  border-radius: 18px;
  .cardIcon {
    margin-top: 12px;
    width: 90%;
    height: auto;
  }

  .disCard {
    width: 90%;
    margin-top: 16px;
    .cardCost {
      font-family: $font-nintino;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
    }

    .nameCard {
      margin-top: 8px;
      font-family: $font-nintino;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
    }
  }

  .buttonCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f2f2f3;
    border-radius: 12px;
    border: 0;
    height: 40px;
    justify-self: end;
    align-self: center;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;

    .plus:hover,
    .minus:hover {
      cursor: pointer;
      transform: scale(1.1);
      opacity: 0.8;
    }

    .plus:active,
    .minus:active {
      cursor: pointer;
      transform: scale(0.9);
      opacity: 0.9;
    }
  }
  .butAdd {
    width: 90%;

    .weightCard {
      font-family: $font-nintino;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 130%;
      color: #b1b1b1;
    }

    .butAddBurg {
      width: 100%;
      height: 40px;
      background-color: #f2f2f3;
      border-radius: 12px;
      border: 0;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
      &:active {
        opacity: 0.9;
        transform: scale(0.9);
      }
    }
  }
}
